$color-primary: #c73e1d;
$color-secondary: #50a2ee;
$color-grey: #587b7f;

$text-lg: 1.45rem;
$text-md: 1.35rem;
$text-sm: 1rem;
$text-xs: 0.7rem;
$text-xxs: 0.65rem;

// $color-1: rgb(88, 123, 127);
// $color-2: rgb(64, 66, 58);
// $color-3: rgb(197, 152, 73);
// $color-4: rgb(242, 186, 201);
// $color-5: rgb(186, 242, 233);
// $color-6: rgb(0, 0, 0);
// $color-7: rgb(82, 42, 39);
$color-8: rgb(199, 62, 29);
// $color-9: rgb(242, 226, 186);
// $color-10: rgb(115, 240, 124);
// $color-11: rgb(80, 162, 238);
// $color-12: rgb(206, 110, 110);
